# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
ENV/

# Django
*.log
local_settings.py
media/

# Node
node_modules/
.npm/

# Next.js
.next/
out/
build/
.vercel/

# OS
.DS_Store
Thumbs.db
